.button {
  transition: 0.2s;
  filter: drop-shadow(0 0 3px rgba(255, 51, 109, 0.4)) drop-shadow(0 0 16px rgba(255, 51, 109, 0.4));
}
.button:hover {
  filter: drop-shadow(0 0 16px #ff336d);
}
.ripple {
  position: absolute;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: animateRipple 700ms ease infinite;
}
@keyframes animateRipple {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
