@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sansation';
    font-weight: 400;
    src: url('../public/fonts/Sansation.woff2') format('woff2'), url('../public/fonts/Sansation.woff') format('woff');
  }
  @font-face {
    font-family: 'Sansation';
    font-weight: 700;
    src: url('../public/fonts/Sansation-Bold.woff2') format('woff2'),
      url('../public/fonts/Sansation-Bold.woff') format('woff');
  }
  @font-face {
    font-family: 'Sansation';
    font-weight: 300;
    src: url('../public/fonts/Sansation-Light.woff2') format('woff2'),
      url('../public/fonts/Sansation-Light.woff') format('woff');
  }
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}
.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.react-horizontal-scrolling-menu--separator {
  margin-right: 30px;
}

a {
  transition: color 0.3s;
}
a:hover {
  color: #ff336d;
}
