.Indicator {
  position: absolute;
  width: 2.1rem;
  height: 3.15rem;
  top: 0.3rem;
  left: 0.2rem;
  transition: 0.5s;
  z-index: 1;
}
.Indicator::before {
  content: '';
  border-color: rgb(123 123 171);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.375rem;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.Day {
  position: relative;
  z-index: 2;
}
.Indicator.Weekend {
  width: 4.1rem;
}
.Day.Active:hover ~ .Indicator {
  width: 2.1rem;
}
.Day ~ .Indicator.Before {
  transform: translateX(calc(2.05rem * -3));
}
.Day ~ .Indicator.After {
  transform: translateX(calc(2.05rem * 9));
}
.Day:nth-child(1).Active ~ .Indicator {
  transform: translateX(calc(2.05rem * 0));
}
.Day:nth-child(2).Active ~ .Indicator {
  transform: translateX(calc(2.05rem * 1));
}
.Day:nth-child(3).Active ~ .Indicator {
  transform: translateX(calc(2.05rem * 2));
}
.Day:nth-child(4).Active ~ .Indicator {
  transform: translateX(calc(2.05rem * 3));
}
.Day:nth-child(5).Active ~ .Indicator {
  transform: translateX(calc(2.05rem * 4));
}
.Day:nth-child(6).Active ~ .Indicator {
  transform: translateX(calc(2.05rem * 5));
}
.Day:nth-child(7).Active ~ .Indicator {
  transform: translateX(calc(2.05rem * 6));
}
